* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(245, 166, 9);
}

.logo {
  margin-left: 50px;
  margin-block: 5px;
  width: 100px;
  cursor: pointer;
  border-radius: 15px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  font-size: 24px;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  margin-inline-start: 150px;
}

.res-card {
  margin: 5px;
  padding: 5px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  display: grid;
  grid-template-rows: 1fr;
  overflow: hidden;
}

.res-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transform: scale(1.05);
}

.search {
  padding: 10px;
}

.res-logo {
  border-radius: 15px;
  width: 400px;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

.res-card {
  border-radius: 15px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  /* max-width: 1200px; */
}

.res-main {
  justify-content: center;
  margin: 0 auto;
}

.res-desc {
  padding: 8px;
  width: 250px;
  height: 150px;
  background-color: #ffffff;
  overflow: hidden;
}

.res-desc > h3,
h4 {
  padding: 5px;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
  box-sizing: content-box;
}
